
{% extends "base.html" %}

{% block content %}
	<a class="btn btn-primary" href="./edit_semester/add/0">
		<i class="glyphicon glyphicon-plus-sign"></i> Add New Semester
	</a>
	<h1>Semester</h1>
	<p>This table includes {{table_count}} semester</p>
	<table id="sorted" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Sem No</th>

				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for row_data in data %}
			<tr>
				{% for d in row_data %}
					<td>{{d}}</td>
				{% endfor %}
				<td>
					<a href="./edit_semester/edit/{{row_data[0]}}">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
				</td>
				<td>
					<a 
						href="./save?cat=semester&act=delete&modifier=id&id={{row_data[0]}}"
						onclick="return navConfirm(this.href);">
					<i class="glyphicon glyphicon-trash"></i>
					</a>
					</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}